<div class="row">
    <div class="col-lg-2">
        <div class="widget style1 navy-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-user fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h4>Kullanıcı Sayısı: </h4>
                    <h2 class="font-bold">@ViewBag.userCount</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 navy-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-user fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h4>Admin Sayısı: </h4>
                    <h2 class="font-bold">@ViewBag.adminCount</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 navy-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-user fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h4>Yazar Sayısı: </h4>
                    <h2 class="font-bold">@ViewBag.writerCount</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 lazur-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-user fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h4>Moderatör Sayısı: </h4>
                    <h2 class="font-bold">@ViewBag.moderatorCount</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 lazur-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-user fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h4>Üye Sayısı: </h4>
                    <h2 class="font-bold">@ViewBag.memberCount</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 yellow-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-thumbs-up fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h4>Yorumlara Yapılan Toplam Puan: </h4>
                    <h2 class="font-bold">@ViewBag.scoreCount</h2>
                </div>
            </div>
        </div>
    </div>
</div>

